.dashboard{
    width: 100% !important;
    padding: 36px !important;
}
.error-block{
color:red;
}
.container{
padding: 0px 4% !important;
}
.btn-delete{
color:red;
}
.disabled{
 pointer-events: none;
   cursor: default;
}
.loading-indicator {

    box-sizing: border-box;

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    width: 100%;

    text-align: center;

    padding: 0.7em; }


.loading-indicator:before {

    display: inline-block;

    margin: 0 0.4em;

    min-width: 1em;

    min-height: 1em;

    border-top: 4px solid #646464;

    border-right: 4px solid #e6e6e6;

    border-left: 4px solid #e6e6e6;

    border-bottom: 4px solid #646464;

    content: "";

    -webkit-animation: halfspin 1s ease infinite;

    -moz-animation: halfspin 1s ease infinite;

    -o-animation: halfspin 1s ease infinite;

    animation: halfspin 1s ease infinite;

    border-radius: 100%; }


@-webkit-keyframes halfspin {

    to {

        -webkit-transform: rotate(180deg);

        -moz-transform: rotate(180deg);

        transform: rotate(180deg); } }


@-moz-keyframes halfspin {

    to {

        -webkit-transform: rotate(180deg);

        -moz-transform: rotate(180deg);

        transform: rotate(180deg); } }


@keyframes halfspin {

    to {

        -webkit-transform: rotate(180deg);

        -moz-transform: rotate(180deg);

        transform: rotate(180deg); } }